html{
    font-size:10px;
}

body{
    background-color:black;
  
  }
    
  .App{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .chatTitle{
    color:rgb(19, 216, 150);
    font-size:4rem;
    font-family:Courier;

  }

  .msgForm{
      position:fixed;
      bottom:0;
      display:flex;
      width:100%;
      margin-bottom:2rem;
      margin-left:25%;
  }

  label.testInput{
    width:18%;
  }
  
  .testInput{
    width:100%;
    height:3rem;
    font-size:3rem;
    background-color:black;
    border:none;
    color:lightgray;
    font-family:Courier;
  
  }
  
  .testInput:focus{
    border:none;
    outline:0;
  }
  
  input[type="submit"]{
    visibility:hidden;
  }

  .printMsgs{
      color:white;
      font-family:Courier;
      font-size:2.4rem;
      width:90%;
  }

  .typePseudo{
    z-index:1000;
    height:100vh;

  }

  .msg{
    border-top:2px solid rgb(19, 216, 150);
    padding-left:1rem;
  }

  .pseudoSpan{
    width:5rem;
  }

  @media(max-width:545px){
    .chatTitle{
      font-size:2.3rem;
    }

    .printMsgs{
      color:white;
      font-family:Courier;
      font-size:1.8rem;
      width:90%;
  }

  label.testInput{
    display:none;
  }

  .msgForm{
    position:static;
    display:flex;
    width:100%;
    margin-bottom:2rem;
    margin-left:7%;
}
  }