html{
    font-size:10px;
}

body{
    background-color:black;
    margin:0;
    padding:0;
  }
    
  .App{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  .chatTitle{
    color:rgb(19, 216, 150);
    font-size:4rem;
    font-family:Courier;

  }

  .msgForm{
      position:fixed;
      bottom:0;
      display:flex;
      width:100%;
      margin-bottom:2rem;
      margin-left:10%;
  }

  label.testInput{
    width:18%;
    font-size:2.5rem;
    font-weight:700;
  }
  
  .testInput{
    width:100%;
    height:3rem;
    font-size:3rem;
    background-color:black;
    border:none;
    color:lightgray;
    font-family:Courier;
  }
  
  .testInput:focus{
    border:none;
    outline:0;
  }
  
  input[type="submit"]{
    visibility:hidden;
  }

  .printMsgs{
      position:fixed;
      top:12%;
      color:white;
      font-family:Courier;
      font-size:2.4rem;
      width:90%;
  }


  .typePseudo{
    z-index:1000;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }

.testInput.usernameInput{
  font-size:4rem;
}

  .msg{
    border-top:2px solid rgb(19, 216, 150);
    padding-left:1rem;
    word-wrap:break-word;
  }

  .msg:hover{
    background-color:rgba(19, 216, 150,0.1);
  }

  .pseudoSpan{
    width:5rem;
  }

  @media(max-width:830px){
    .printMsgs{
      font-size:2rem;
    }
  }

  @media(max-width:545px){
    .chatTitle{
      font-size:2.3rem;
    }

    .printMsgs{
      color:white;
      font-family:Courier;
      font-size:1.8rem;
      width:90%;
  }

  label.testInput{
    display:none;
  }

  .msgForm{
    position:fixed;
    bottom:0;
    display:flex;
    width:100%;
    margin-bottom:2rem;
    margin-left:7%;
}
  }

  @media(max-width:320px){
    .printMsgs{
      font-size:1.4rem;
    }

    .testInput{
      font-size:2rem;
    }
  }

